{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <form method="post">
        <div class="container">
{#            {% if error %}#}
{#                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#            {% endif %}#}

{#            {% if app.user %}#}
{#                <div class="mb-3">#}
{#                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#                </div>#}
{#            {% endif %}#}

            <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

            {{ form(form) }}
        </div>
    </form>
{% endblock %}